<header class="fixed top-0 left-0 z-10 w-full bg-white shadow-sm">
  <div class="navbar bg-base-100 px-4 py-2 h-[75px] lg:container lg:mx-auto">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="pr-2 lg:hidden" aria-label="Open navigation menu">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="dropdown-content menu z-1 mt-3 w-52 rounded-box bg-base-100 p-2 shadow">
          <li class="<%= typeof slug === 'undefined' || slug === '/' ? 'active' : '' %>">
            <a href="/">Home</a>
          </li>
          <li class="<%= typeof slug !== 'undefined' && slug.startsWith('/docs') ? 'active' : '' %>">
            <a href="/docs">Documentation</a>
          </li>
          <li class="<%= typeof slug !== 'undefined' && slug === '/about' ? 'active' : '' %>">
            <a href="/about">About</a>
          </li>
          <li class="<%= typeof slug !== 'undefined' && slug === '/contact' ? 'active' : '' %>">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <a class="block mt-2 lg:-ml-[6px] no-underline text-xl" href="/">
        <span class="sr-only">Home</span>
        <img src="/img/logo.svg" class="w-50 md:w-70 h-auto" alt="Portfolio Tracker Logo" />
      </a>
    </div>

    <div class="navbar-end hidden lg:flex">
      <ul class="menu menu-horizontal px-2 gap-x-1">
        <li class="<%= typeof slug === 'undefined' || slug === '/' ? 'active' : '' %>">
          <a href="/">Home</a>
        </li>
        <li class="<%= typeof slug !== 'undefined' && slug.startsWith('/docs') ? 'active' : '' %>">
          <a href="/docs">Documentation</a>
        </li>
        <li class="<%= typeof slug !== 'undefined' && slug === '/about' ? 'active' : '' %>">
          <a href="/about">About</a>
        </li>
        <li class="<%= typeof slug !== 'undefined' && slug === '/contact' ? 'active' : '' %>">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <!-- <div class="navbar-end">
      <a class="btn btn-primary" href="/">Install Add-on</a>
    </div> -->
  </div>
</header>