<head>
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NGRM269Z');
  </script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="TradeGist, Portfolio Tracker, Google Sheets, Investment Tracking, Financial Management, Stock Portfolio, Crypto Portfolio, Options Portfolio, Asset Management" />
  <!-- Open Graph for social sharing -->
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="https://thetradegist.com/img/hero-image.jpg" />
  <meta property="og:url" content="https://thetradegist.com<%= typeof slug !== 'undefined' ? slug : '' %>">
  <meta property="og:type" content="website" />
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="https://thetradegist.com/img/hero-image.jpg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <!-- Canonical URL to avoid duplicate content -->
  <link rel="canonical" href="https://thetradegist.com<%= typeof slug !== 'undefined' ? slug : '' %>">
  <style>
    :where(h1) {
      margin-block: 0.67em;
      font-size: 2em;
    }
  </style>
  <link rel="stylesheet" href="/src/styles.css" />
  <link rel="icon" href="/img/favicon.png" type="image/png" sizes="256x256" />
  <% if (typeof extraStyles !== 'undefined') { %>
  <% extraStyles.forEach(style => { %>
  <link rel="stylesheet" href="<%= style %>">
  <% }) %>
  <% } %>
</head>